{% extends 'navbar/navbar.html' %}

{% block content %}
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-11">
<h1> Bienvenidos el Gestor de Tarea de Jose Manuel Segovia </h1>

<a href="{% url 'task_list'%}" class="btn btn-success">Ver tareas</a>
<div>
{% endblock%}