{% extends 'navbar/navbar.html' %}
{% block content%}
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-3">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
    
</form>
</div>
<div class="col-md-8">
<a href="{% url 'task_list' %}" class="btn btn-success">Tareas</a>
</div>
</div>
{% endblock %}