
{% extends 'navbar/navbar.html'%}
{% block content%}

<div class="row">
<div class="col-md-1">
</div>
<table class="col-md-11">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre :</td>
            <td>Detalles :</td>
            <td>Horas :</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list%}
        {% for task in object_list%}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.nombre}} </td>
            <td>{{task.detalles}}</td>
            <td>{{ task.horas}}</td>
        </tr>
        {% endfor %}

        {% else %}
        <h1> No hay tareas </h1>

        {% endif %}
    </tbody>
</table>

</div>
<div class= "row2">
    <div class="col-md-1">
    </div>
    <div class="col-md-11 pd-10">
    <a href="{% url 'task-create' %}" class="btn btn-success">Agregar</a>
    </div>
</div>

{% endblock %}